.banner {
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
}

.teams {
  display: flex;
  justify-content: space-around;
}

.team {
  border: solid black 1px;
  text-align: center;
  width: 500px;
  padding: 20px;
  margin: 10px;
}

.scoreboard {
  text-align: center;
}
